{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "globals": {
    "angular": true,
    "_": true,
    "document": true,
    "fetch": true,
    "ENV": true,
  },
  "rules": {
    "linebreak-style": 0
  }
}
